header {
  position: relative;
  background: black;
  color: white;
  text-align: center;
  line-height: 0;
  background: #0b0004; }
  header .corner {
    background: #0b0004;
    width: 200px;
    height: 100%;
    position: absolute; }
    header .corner.left {
      left: 0; }
    header .corner.right {
      right: 0; }

#manage-users {
  margin: 3% 0 0 50%; }

#user-search-form {
  padding: 5px; }

header * {
  display: inline-block; }
  header * button {
    height: 50%;
    margin: 5.5% 0; }

#hero {
  background: url("../images/hero.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 73% 47%;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 10px 25px -4px #0b0004;
  border-radius: 1px; }
  #hero #input-field {
    font-size: 2em;
    background: transparent;
    border: none;
    color: black;
    text-align: center;
    width: 50%; }
    #hero #input-field::-webkit-input-placeholder {
      color: #560001; }
    #hero #input-field:focus {
      outline: none; }
    #hero #input-field.open {
      margin: 190px 0;
      transition: all ease 1s;
      padding: 20px; }
    #hero #input-field.closed {
      margin: 0;
      transition: all ease 1s;
      padding: 5px; }

.movie-header * {
  display: inline-block; }

#results {
  padding: 0;
  margin: 0; }

.movie-viewer {
  background: #dacba9;
  margin: 10px 25px 0;
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 0 5px 19px -4px #560001;
  border-radius: 1px; }

.movie-header .title {
  color: #0b0004; }
.movie-header .ratings-count {
  font-size: 15px;
  font-style: italic;
  opacity: 0.5; }
.movie-header .ratings-box * {
  display: block; }
.movie-header .ratings-bubble {
  position: absolute;
  right: 10px;
  background: #0b0004;
  height: 75px;
  width: 75px;
  border-radius: 38px;
  text-align: center;
  padding: 8px; }
  .movie-header .ratings-bubble .avg-rating {
    padding: 0;
    margin: 0; }
  .movie-header .ratings-bubble h2.avg-rating {
    color: #dacba9;
    font-size: 10px; }
  .movie-header .ratings-bubble h1.avg-rating {
    font-size: 40px;
    color: #ff2524;
    text-shadow: 0 0 9px #dacba9; }

.movie-body {
  padding-top: 10px;
  border-top: 1px solid #560001; }
  .movie-body .mv-user > span {
    width: 400px;
    display: table-cell;
    text-align: left;
    font-family: monaco;
    font-size: 12px;
    border-left: dotted 1px whitesmoke;
    padding-left: 20px; }
    .movie-body .mv-user > span a {
      font-family: monaco; }
    .movie-body .mv-user > span.mv-user-score {
      color: #ff2524;
      color: #ff2524;
      text-shadow: 0 0 9px #0b0004; }
  .movie-body .mv-user.list-head > span {
    font-weight: bold;
    font-size: 13px;
    border-bottom: dotted 1px whitesmoke;
    padding-left: 10px; }

header {
  position: relative;
  background: black;
  color: white;
  text-align: center;
  line-height: 0;
  background: #0b0004; }
  header .corner {
    background: #0b0004;
    width: 200px;
    height: 100%;
    position: absolute; }
    header .corner.left {
      left: 0; }
    header .corner.right {
      right: 0; }

#manage-users {
  margin: 3% 0 0 50%; }

#user-search-form {
  padding: 5px; }

header * {
  display: inline-block; }
  header * button {
    height: 50%;
    margin: 5.5% 0; }

#hero {
  background: url("../images/hero.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 73% 47%;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 10px 25px -4px #0b0004;
  border-radius: 1px; }
  #hero #input-field {
    font-size: 2em;
    background: transparent;
    border: none;
    color: black;
    text-align: center;
    width: 50%; }
    #hero #input-field::-webkit-input-placeholder {
      color: #560001; }
    #hero #input-field:focus {
      outline: none; }
    #hero #input-field.open {
      margin: 190px 0;
      transition: all ease 1s;
      padding: 20px; }
    #hero #input-field.closed {
      margin: 0;
      transition: all ease 1s;
      padding: 5px; }

.content {
  color: #560001; }

#user-info-container {
  margin: 3% 0;
  position: relative;
  background: #dacba9;
  width: 70%;
  border: 1px solid #0b0004;
  transform: translateX(21%); }

#user-info {
  padding-bottom: 2%;
  text-align: center; }

#user-id {
  line-height: 1.5em;
  text-align: center; }

.list-item {
  margin: 10px 15%; }

.top-rated-list {
  padding: 0; }

.rated-movies-list {
  padding: 0;
  text-align: center; }

#top-rated-container {
  width: 100%;
  background: red;
  position: relative;
  padding: 1%;
  border: 0.75px solid #0b0004;
  background: #ebe3c2; }
  #top-rated-container button {
    position: absolute;
    top: 4px;
    left: 4px; }

#my-top-rated {
  margin-top: 4%;
  display: inline-block;
  font-size: 1.25em; }

#star-container {
  position: absolute;
  right: 5px;
  top: 5px; }

.star {
  height: 14px;
  color: #560001; }

#rate-it {
  right: 1%;
  top: 21%;
  position: absolute;
  color: #0b0004;
  background: #dacba9; }

input,
select {
  background: #ebe3c2;
  color: #2f2221; }

#add-user-btn,
#delete-user-btn,
#edit-user-btn {
  margin: 3% 0 5%; }

#manage-users-menu {
  text-align: center; }
  #manage-users-menu input {
    line-height: 2; }

#manage-users-menu * {
  display: inline-block;
  margin: 5px 0;
  width: 100%;
  padding: 3px 45px; }

#add-user-form input {
  line-height: 2; }

#edit-user-form input {
  display: block;
  margin: 2% 0;
  line-height: 2; }
#edit-user-form h2 {
  margin-top: 8%; }

#new-gender {
  display: table;
  width: 40%;
  margin: auto; }

#submit-edit,
#submit-add {
  width: 50%; }

#input-search-delete,
#input-search-edit {
  text-align: center; }

#manage-users-container {
  margin: 3% 0;
  position: relative;
  background: #dacba9;
  width: 70%;
  border: 1px solid #0b0004;
  transform: translateX(21%); }

#manage-users-section {
  width: 70%;
  background: red;
  transform: translateX(17%);
  position: relative;
  padding: 1%;
  margin: 2% 0;
  border: 0.75px solid #0b0004;
  background: #ebe3c2;
  text-align: center; }

#input-user-search {
  margin: 6% 0 3%; }

#input-search-edit {
  padding: 0; }

#user-to-delete,
#user-to-edit {
  margin: 3% 5%; }

#new-id {
  margin: 5%; }

* {
  font-family: sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none;
  color: #560001; }
  a:hover {
    color: #ff2524; }
  a:active {
    color: whitesmoke; }

#headline {
  color: #dacba9; }
  #headline:hover {
    color: #ff2524; }

body {
  margin: 0 15%;
  position: relative;
  background: linear-gradient(to right, #dacba9, #2f2221, #0b0004, #2f2221, #dacba9); }

button {
  border-radius: 5px;
  border: none;
  color: #560001; }

input {
  text-align: center; }

button {
  border-radius: 5px;
  background: #dacba9;
  border: none;
  color: #560001; }
  button:active {
    color: #dacba9;
    background: #560001; }
  button:focus {
    outline: none; }

h1 {
  color: #dacba9; }

/*# sourceMappingURL=main.css.map */
