$red-color: #560001;
$beige-color: #dacba9;
$dark-color: #0b0004;

@import "partials/header";
@import "partials/hero";

* {
  font-family: sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}

body {
  margin: 0 15%;
}

button {
  border-radius: 5px;
  background: $beige-color;
  border: none;
  color: $red-color;
}

h1 {
  color: $beige-color;
}

.content-container {
  width: 100%;
  position: absolute;
}
