input,
select {
    background: $light-beige-color;
    color: $dark-red-color;
}

#add-user-btn,
#delete-user-btn,
#edit-user-btn {
    margin: 3% 0 5%;
}

#manage-users-menu {
  text-align: center;
}

#manage-users-menu * {
  display: inline-block;
  margin: 5px 0;
  width: 100%;
  padding: 3px 45px;
}


#add-user-form {
    input {
        // display: block;
        // margin: 2% 30%;
    }

    // h2 {
    //     margin-top: 8%;
    // }
}

#edit-user-form {
    input {
        display: block;
        margin: 2% 30%;
    }

    h2 {
        margin-top: 8%;
    }
}

.gender {
    // transform: translateX(150%);
    display: block;
}

.submit {
    // margin: 3% 40%;
}

#input-search-delete,
#input-search-edit {
    text-align: center;
}

#manage-users-container {
    margin: 3% 0;
    position: relative;
    background: $beige-color;
    width: 70%;
    border: 1px solid $dark-color;
    transform: translateX(21%);
}

#manage-users-section {
    width: 70%;
    background: red;
    transform: translateX(17%);
    position: relative;
    padding: 1%;
    margin: 2% 0;
    border: 0.75px solid $dark-color;
    background: $light-beige-color;
    text-align: center;
}

#input-user-search {
    margin: 6% 0 3%;
}

#user-to-edit,
#user-to-delete {
    margin: 3% 5%;
}

#new-id {
    margin: 5%;
}
