//styles

.movie-header * {
    display: inline-block;
}

#results {
    padding: 0;
    margin: 0;
}

.movie-viewer {
    background: $beige-color;
    margin: 10px 25px 0;
    position: relative;
    padding: 10px;
    -webkit-box-shadow: 0 5px 19px -4px $red-color;
    border-radius: 1px;
}

.movie-header {
    //viewer

    .title {
        color: $dark-color;
    }

    .ratings-count {
        font-size: 15px;
        font-style: italic;
        opacity: 0.5;
    }

    .ratings-box * {
        display: block;
    }

    .ratings-bubble {
        position: absolute;
        right: 10px;
        background: $dark-color;
        height: 75px;
        width: 75px;
        border-radius: 38px;
        text-align: center;
        padding: 8px;

        .avg-rating {
            padding: 0;
            margin: 0;
        }

        h2.avg-rating {
            color: $beige-color;
            font-size: 10px;
        }

        h1.avg-rating {
            font-size: 40px;
            color: $bright-red-color;
            text-shadow: 0 0 9px $beige-color;
        }
    }
}

.movie-body {
    padding-top: 10px;
    border-top: 1px solid $red-color;

    .mv-user > span {
        width: 400px;
        display: table-cell;
        text-align: left;
        font-family: monaco;
        font-size: 12px;
        border-left: dotted 1px whitesmoke;
        padding-left: 20px;

        a {
            font-family: monaco;
        }

        &.mv-user-score {
            color: $bright-red-color;
            color: $bright-red-color;
            text-shadow: 0 0 9px $dark-color;
        }
    }

    .mv-user.list-head > span {
        font-weight: bold;
        font-size: 13px;
        border-bottom: dotted 1px whitesmoke;
        padding-left: 10px;
    }
}
