//something in it.

.content {
    color: $red-color;
}

#user-info-container {
    margin: 3% 0;
    position: relative;
    background: $beige-color;
    width: 70%;
    border: 1px solid $dark-color;
    transform: translateX(21%);
}

#user-info {
    padding-bottom: 2%;
    text-align: center;
}

#user-id {
    line-height: 1.5em;
    text-align: center;
}

.list-item {
    margin: 10px 15%;
}

.user-details {
    // text-align: center;
}

.top-rated-list {
    padding: 0;
}

.rated-movies-list {
    padding: 0;
    text-align: center;
}

#top-rated-container {
    width: 100%;
    background: red;
    position: relative;
    padding: 1%;
    border: 0.75px solid $dark-color;
    background: $light-beige-color;

    button {
      position: absolute;
      top: 4px;
      left: 4px;
    }
}

#my-top-rated {
    margin-top: 4%;
    display: inline-block;
    font-size: 1.25em;
}

#star-container {
    position: absolute;
    right: 5px;
    top: 5px;
}

.star {
    height: 14px;
    color: $red-color;
}

#rate-it {
    right: 1%;
    top: 21%;
    position: absolute;
    color: $dark-color;
    background: $beige-color;
}
